@media (min-width: 665px) {
  .sub {
    font-size: 20px !important;
    letter-spacing: 6px !important;
  }
  .section {
    padding: 50px 80px !important;
  }
  header {
    padding: 40px 5% !important;
  }
  header.sticky {
    padding: 20px 3.5% !important;
  }
  .hamburger {
    visibility: hidden !important;
  }
  .nav {
    display: flex !important;
  }
}
@media (min-width: 765px) {
  header {
    padding: 40px 10% !important;
  }
  header.sticky {
    padding: 20px 8.5% !important;
  }
}
@media (min-width: 980px) {
  header {
    padding: 40px 15% !important;
  }
  header.sticky {
    padding: 20px 13.5% !important;
  }
}
@media (min-width: 1180px) {
  header {
    padding: 40px 20% !important;
  }
  header.sticky {
    padding: 20px 18.5% !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 5%;
  z-index: 100;
}
header.sticky {
  padding: 10px 3.5%;
  background-color: #fff;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

.nav {
  display: none;
}
.mobile-nav {
  display: flex;
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  width: 50%;
  min-width: 250px;
  background-color: #eee;
  border-left: 1px solid #ccc;
  padding-top: 80px;
}
.mobile-nav ul {
  visibility: visible;
  flex-direction: column;
  width: 80%;
}
.mobile-nav ul li {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}
.mobile-nav ul li:hover {
  font-size: 1.1em;
  background-color: #ccc;
}

.hamburger {
  visibility: visible;
  font:inherit;
  display:inline-block;
  overflow:visible;
  margin:0;
  padding:15px;
  cursor:pointer;
  transition-timing-function:linear;
  transition-duration:.15s;
  transition-property:opacity,filter;
  text-transform:none;
  color:inherit;
  border:0;
  background-color:transparent;
  z-index: 3;
 }
 .hamburger.is-active:hover,
 .hamburger:hover {
  opacity:.7
 }
 .hamburger.is-active .hamburger-inner,
 .hamburger.is-active .hamburger-inner:after,
 .hamburger.is-active .hamburger-inner:before {
  background-color:#000
 }
 .hamburger-box {
  position:relative;
  display:inline-block;
  width:40px;
  height:24px
 }
 .hamburger-inner {
  top:50%;
  display:block;
  margin-top:-2px
 }
 .hamburger-inner,
 .hamburger-inner:after,
 .hamburger-inner:before {
  position:absolute;
  width:40px;
  height:4px;
  transition-timing-function:ease;
  transition-duration:.15s;
  transition-property:transform;
  border-radius:4px;
  background-color:#000
 }
 .hamburger-inner:after,
 .hamburger-inner:before {
  display:block;
  content:""
 }
 .hamburger-inner:before {
  top:-10px
 }
 .hamburger-inner:after {
  bottom:-10px
 }
.hamburger--emphatic {
  overflow:hidden
 }
 .hamburger--emphatic .hamburger-inner {
  transition:background-color .125s ease-in .175s
 }
 .hamburger--emphatic .hamburger-inner:before {
  left:0;
  transition:transform .125s cubic-bezier(.6,.04,.98,.335),top .05s linear .125s,left .125s ease-in .175s
 }
 .hamburger--emphatic .hamburger-inner:after {
  top:10px;
  right:0;
  transition:transform .125s cubic-bezier(.6,.04,.98,.335),top .05s linear .125s,right .125s ease-in .175s
 }
 .hamburger--emphatic.is-active .hamburger-inner {
  transition-delay:0s;
  transition-timing-function:ease-out;
  background-color:transparent!important
 }
 .hamburger--emphatic.is-active .hamburger-inner:before {
  top:-80px;
  left:-80px;
  transition:left .125s ease-out,top .05s linear .125s,transform .125s cubic-bezier(.075,.82,.165,1) .175s;
  transform:translate3d(80px,80px,0) rotate(45deg)
 }
 .hamburger--emphatic.is-active .hamburger-inner:after {
  top:-80px;
  right:-80px;
  transition:right .125s ease-out,top .05s linear .125s,transform .125s cubic-bezier(.075,.82,.165,1) .175s;
  transform:translate3d(-80px,80px,0) rotate(-45deg)
 }

.img {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-image {
  background-image: url('../img/main.jpg');
  min-height: 100%;
}
.skills-image {
  background-image: url('../img/skills.jpg');
  min-height: 400px;
  opacity: 0.9;
}
.portfolio-image {
  background-image: url('../img/portfolio.jpg');
  min-height: 400px;
}
.contact-image {
  background-image: url('../img/contact.jpg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 20px;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
}
.grid > p {
  display: flex;
  flex-direction: column;
}
.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.text .box {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.text .box.trans {
  background-color: transparent;
  color: #111;
}
.text .box.trans.dark {
  background-color: #fff;
  opacity: 0.6;
}
.sub {
  display: block;
  margin-top: 5px;
  font-size: 3vw;
  letter-spacing: 3px;
  color: #111 !important;
}

.form {
  max-width: 800px;
  margin: auto;
}
input[type='text'],
input[type='email'] {
  color: #ccc;
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  width: 100%;
  padding-left: 2%;
  background-color: #202327;
  border: none;
  border-radius: 8px;
  border-bottom: 1px solid #000;
  min-width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
input[type='text']:focus,
input[type='email']:focus {
  background-color: #363b41;
  border-bottom: 1px solid rgb(10, 111, 151);
}

textarea {
  font-family: 'Lato', sans-serif;
  color: #ccc;
  font-size: 16px;
  padding: 20px 0px;
  width: 100%;
  padding-left: 2%;
  background-color: #202327;
  border: none;
  border-radius: 8px;
  border-bottom: 1px solid #000;
  resize: none;
  min-width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
textarea:focus {
  background-color: #5a5e64;
  border-bottom: 1px solid rgb(10, 111, 151);
}
label {
  font-size: 12.5px;
  opacity: 0.8;
  font-weight: 400;
}
.kw-floating-label-wrapper {
  margin-bottom: 10px !important;
}
.kw-floating-label-wrapper .kw-floating-label {
  top: 5px !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out !important;
}
.kw-floating-label-wrapper .kw-floating-label.is-active {
  transform: translateY(-3px) !important;
  opacity: 0.7 !important;
}
.kw-floating-label-wrapper .kw-floating-label.is-active:before {
  display: none !important;
}
.kw-floating-label-wrapper .kw-floating-label.is-focused {
  color: #4D90FE;
}
input[type='submit'] {
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #262b30;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: all 0.3s linear;
}
input[type='submit']:hover {
  border: 0.5px solid #000;
  background-color: #202327;
}
