/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 5%;
  z-index: 100;
}
header.sticky {
  padding: 10px 3.5%;
  background-color: #fff;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

/* NAV */
.nav {
  display: none;
}
.mobile-nav {
  display: flex;
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  width: 50%;
  min-width: 250px;
  background-color: #eee;
  border-left: 1px solid #ccc;
  padding-top: 80px;
}
.mobile-nav ul {
  visibility: visible;
  flex-direction: column;
  width: 80%;
}
.mobile-nav ul li {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}
.mobile-nav ul li:hover {
  font-size: 1.1em;
  background-color: #ccc;
}

/* IMAGES */
.img {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-image {
  background-image: url('../img/main.jpg');
  min-height: 100%;
}
.skills-image {
  background-image: url('../img/skills.jpg');
  min-height: 400px;
  opacity: 0.9;
}
.portfolio-image {
  background-image: url('../img/portfolio.jpg');
  min-height: 400px;
}
.contact-image {
  background-image: url('../img/contact.jpg');
  min-height: 400px;
}

/* SECTION */
.section {
  text-align: center;
  padding: 20px;
}
.section > * {
  margin: 20px 0px;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}

/* SKILLS GRID */
.grid {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
}
.grid > p {
  display: flex;
  flex-direction: column;
}
/* SKILLS BARS */
.container-bars {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bar {
  width: 100%;
  height: 20px;
  background-color: #aaa;
  margin: 8px 0px;
  border-radius: 10px;
}
.bar-fill {
  background-color: #1a5538;
  height: 20px;
  border-radius: 10px 0px 0px 10px;
}
.percentage {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  top: -24px;
  right: 5px;
  font-weight: 550;
  color: #000;
}
.html {width: 90%;}
.css {width: 90%;}
.bootstrap {width: 75%;}
.javascript {width: 85%;}
.jquery {width: 75%;}
.angular {width: 50%;}
.php {width: 85%;}
.mysql {width: 80%;}
.skill-label {
  background-color: #318058;
  width: 90px;
  height: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  border-radius: 10px 0px 0px 10px;
}

/* IMAGES TEXT */
.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.text .box {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.text .box.trans {
  background-color: transparent;
  color: #111;
}
.text .box.trans.dark {
  background-color: #fff;
  opacity: 0.6;
}
.sub {
  display: block;
  margin-top: 5px;
  font-size: 3vw;
  letter-spacing: 3px;
  color: #111 !important;
}

/* PORTFOLIO CARDS - GENERAL*/
.card {
  margin: 5px;
  position: relative;
  text-decoration: none;
  padding: 80px 0px;
  padding-bottom: 20px;
  font-size: 25px;
  overflow: hidden;
  box-shadow: 0 4px 5px -1px #808080;
  cursor: context-menu;
}
.card:before {
  content: '';
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 188.8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  filter: blur(8px);
  transition: ease-in-out 300ms;
}
.card:hover:before {
  filter: blur(2px);
}
.card span {
  position: relative;
  padding: 5px 10px;
  z-index: 1;
}
.card span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #666;
  opacity: 0.3;
  transition: linear 100ms;
}
.card:hover span:before {
  opacity: 0.5;
}
.cardDesc {
  margin-top: 95px;
}
.desc {
  font-size: 15px;
}
.descText {
  display: block;
  margin-bottom: 10px;
}
.descText a {
  text-decoration: none;
  color: #000;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
.links a img {
  cursor: pointer;
}
/* CARD PROJECTS */
#clock:before {
  background-color: #282e34;
  background-image: url('../img/project/clock.jpg');
}
#clock span {
  color: #fff;
}
#emercado:before {
  background-color: rgb(235, 232, 232);
  background-image: url('../img/project/emercado.jpg');
}
#emercado span:before {
  background-color: #333;
}
#emercado span {
  color: #fff;
}
#touristSites:before {
  background-color: rgb(192, 192, 192);
  background-image: url('../img/project/map.jpg');
}
#touristSites span {
  color: #fff;
}

/* FORM */
.form {
  max-width: 800px;
  margin: auto;
}
input[type='text'],
input[type='email'] {
  color: #ccc;
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  width: 100%;
  padding-left: 2%;
  background-color: #202327;
  border: none;
  border-radius: 8px;
  border-bottom: 1px solid #000;
  min-width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
input[type='text']:focus,
input[type='email']:focus {
  background-color: #363b41;
  border-bottom: 1px solid rgb(10, 111, 151);
}

textarea {
  font-family: 'Lato', sans-serif;
  color: #ccc;
  font-size: 16px;
  padding: 20px 0px;
  width: 100%;
  padding-left: 2%;
  background-color: #202327;
  border: none;
  border-radius: 8px;
  border-bottom: 1px solid #000;
  resize: none;
  min-width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
textarea:focus {
  background-color: #5a5e64;
  border-bottom: 1px solid rgb(10, 111, 151);
}
label {
  font-size: 12.5px;
  opacity: 0.8;
  font-weight: 400;
}
.kw-floating-label-wrapper {
  margin-bottom: 10px !important;
}
.kw-floating-label-wrapper .kw-floating-label {
  top: 5px !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out !important;
}
.kw-floating-label-wrapper .kw-floating-label.is-active {
  transform: translateY(-3px) !important;
  opacity: 0.7 !important;
}
.kw-floating-label-wrapper .kw-floating-label.is-active:before {
  display: none !important;
}
.kw-floating-label-wrapper .kw-floating-label.is-focused {
  color: #4D90FE;
}
input[type='submit'] {
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #262b30;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: all 0.3s linear;
}
input[type='submit']:hover {
  border: 0.5px solid #000;
  background-color: #202327;
}
