@media (min-width: 665px) {
  .sub {
    font-size: 20px !important;
    letter-spacing: 6px !important;
  }
  .section {
    padding: 50px 80px !important;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: block;
}

.img {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-image {
  background-image: url('../img/main.jpg');
  min-height: 100%;
}
.skills-image {
  background-image: url('../img/skills.jpg');
  min-height: 400px;
  opacity: 0.9;
}
.portfolio-image {
  background-image: url('../img/portfolio.jpg');
  min-height: 400px;
}
.contact-image {
  background-image: url('../img/contact.jpg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 20px;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
}
.grid > p {
  display: flex;
  flex-direction: column;
}
.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.text .box {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.text .box.trans {
  background-color: transparent;
  color: #111;
}
.text .box.trans.dark {
  background-color: #fff;
  opacity: 0.6;
}
.sub {
  display: block;
  margin-top: 5px;
  font-size: 3vw;
  letter-spacing: 3px;
  color: #111 !important;
}

.form {
  max-width: 800px;
  margin: auto;
}
input[type='text'],
input[type='email'] {
  color: #ccc;
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  width: 100%;
  padding-left: 2%;
  background-color: #202327;
  border: none;
  border-radius: 8px;
  border-bottom: 1px solid #000;
  min-width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
input[type='text']:focus,
input[type='email']:focus {
  background-color: #363b41;
  border-bottom: 1px solid rgb(10, 111, 151);
}

textarea {
  font-family: 'Lato', sans-serif;
  color: #ccc;
  font-size: 16px;
  padding: 20px 0px;
  width: 100%;
  padding-left: 2%;
  background-color: #202327;
  border: none;
  border-radius: 8px;
  border-bottom: 1px solid #000;
  resize: none;
  min-width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
textarea:focus {
  background-color: #5a5e64;
  border-bottom: 1px solid rgb(10, 111, 151);
}
label {
  font-size: 12.5px;
  opacity: 0.8;
  font-weight: 400;
}
.kw-floating-label-wrapper {
  margin-bottom: 10px !important;
}
.kw-floating-label-wrapper .kw-floating-label {
  top: 5px !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out !important;
}
.kw-floating-label-wrapper .kw-floating-label.is-active {
  transform: translateY(-3px) !important;
  opacity: 0.7 !important;
}
.kw-floating-label-wrapper .kw-floating-label.is-active:before {
  display: none !important;
}
.kw-floating-label-wrapper .kw-floating-label.is-focused {
  color: #4D90FE;
}
input[type='submit'] {
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #262b30;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: all 0.3s linear;
}
input[type='submit']:hover {
  border: 0.5px solid #000;
  background-color: #202327;
}
